name: CI/CD Lightsail

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Verify secrets are loaded
        run: |
          if [ -z "${{ secrets.DOCKER_USERNAME }}" ]; then
            echo "❌ DOCKERHUB_USERNAME is NOT set!"
            exit 1
          else
            echo "✅ DOCKERHUB_USERNAME is set."
          fi

          if [ -z "${{ secrets.DOCKER_PASSWORD }}" ]; then
            echo "❌ DOCKERHUB_TOKEN is NOT set!"
            exit 1
          else
            echo "✅ DOCKERHUB_TOKEN is set."
          fi

          if [ -z "${{ secrets.AWS_ACCESS_KEY_ID }}" ]; then
            echo "❌ AWS_ACCESS_KEY_ID is NOT set!"
            exit 1
          else
            echo "✅ AWS_ACCESS_KEY_ID is set."
          fi

          if [ -z "${{ secrets.AWS_SECRET_ACCESS_KEY }}" ]; then
            echo "❌ AWS_SECRET_ACCESS_KEY is NOT set!"
            exit 1
          else
            echo "✅ AWS_SECRET_ACCESS_KEY is set."
          fi

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build FastAPI
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:master backend/

      - name: Push FastAPI
        run: docker push ${{ secrets.DOCKER_USERNAME }}/backend:master

      - name: Build Expo
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/expo:master lexilive-project/LexiLive/

      - name: Push Expo
        run: docker push ${{ secrets.DOCKER_USERNAME }}/expo:master

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to Lightsail
        run: |
          aws lightsail create-container-service-deployment \
            --service-name ${{ secrets.LIGHTSAIL_SERVICE_NAME }} \
            --containers file://containers-master.json \
            --public-endpoint file://public-endpoint.json \
            --region us-east-1
