name: CI/CD Lightsail

on:
  push:
    branches:
      - master


jobs:
    
  deploy:
    runs-on: ubuntu-latest

    steps:
        - name: Verify secrets are loaded
        run: |
            if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ]; then
                echo "❌ DOCKERHUB_USERNAME is NOT set!"
                exit 1
                else
                echo "✅ DOCKERHUB_USERNAME is set."
                fi

                if [ -z "${{ secrets.DOCKERHUB_TOKEN }}" ]; then
                echo "❌ DOCKERHUB_TOKEN is NOT set!"
                exit 1
                else
                echo "✅ DOCKERHUB_TOKEN is set."
                fi

                if [ -z "${{ secrets.AWS_ACCESS_KEY_ID }}" ]; then
                echo "❌ AWS_ACCESS_KEY_ID is NOT set!"
                exit 1
                else
                echo "✅ AWS_ACCESS_KEY_ID is set."
                fi

                if [ -z "${{ secrets.AWS_SECRET_ACCESS_KEY }}" ]; then
                echo "❌ AWS_SECRET_ACCESS_KEY is NOT set!"
                exit 1
                else
                echo "✅ AWS_SECRET_ACCESS_KEY is set."
                fi

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build FastAPI
      - name: Build FastAPI
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend:master backend/

      # Push FastAPI
      - name: Push FastAPI
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend:master

      # Build EXPO
      - name: Build Expo
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/expo:master lexilive-project/LexiLive/

      # Push EXPO
      - name: Push Expo
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/expo:master

      # Configure AWS
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Deploy to Lightsail
      - name: Deploy to Lightsail
        run: |
          aws lightsail create-container-service-deployment \
            --service-name ${{ secrets.LIGHTSAIL_SERVICE_NAME }} \
            --containers file://containers-master.json
